build/
dist/
nbproject/private/
nbproject/Makefile-*.mk
nbproject/configurations.xml
nbproject/project.xml
*.o
*.obj
*.hex
*.cof
*.elf
*.lst
*.pre
*.sdb
*.sym
*.map
*.d
*.mcs
*.log
*.ilk
*.gpj
*.mcp
*.mcs
apikey.sh
